$def with (template)

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Templatebuilder 0.0.1</title>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">		
	<link rel="stylesheet" href="/static/themes/default/style.min.css" />
	<link rel="stylesheet" href="/static/jstreecheckbox.css"/>
	<script type="text/javascript" src="/static/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/static/jstree.js"></script>
	<script type="text/javascript" src="/static/MIBtools.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        var currentTemplate = $:template
        var generateTable = function(template){
            jQuery("#previewTable").empty();
    		var tableHead = "<thead><tr><th>Nodename</th><th>OID</th><th>Access</th><th>Syntax</th></tr></thead>";
    		jQuery("#previewTable").append(tableHead);
    		nodes = template.objects
    		var jsonString = JSON.stringify(template);
    		jQuery("#dataToSave").val(jsonString);
    		var tableBody = [];
    		tableBody.push("<tbody>");
    		for(var i = 0; i < nodes.length; i++){
    			currentNode = nodes[i];
    			tableBody.push("<tr><td>"+currentNode["nodeName"]+"</td><td>"+currentNode["oid"]+"</td><td>"+currentNode["access"]+"</td><td>"+currentNode["syntax"]+"</td></tr>");
    		}
    		tableBody.push("</tbody>");
    		tbody = tableBody.join();
    		jQuery("#previewTable").append(tableBody);
        }
    </script>
</head>

<body>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6"><center><h1>Preview</h2></center></div>
		<div class="col-sm-3"></div>
	</div>

	<div class="row">
		
		<div class="col-sm-3">
            <h3>Add custom node</h3>
            <div id="addNode">
                Name<input type="text" id="nodename"/><br/>
                OID<input type="text"id="OID"/><br/>
                Access<input type="text" id="access"/><br/>
                Syntax<input type="text" id="syntax"/><br/>
                <button type="button" id="addbtn">Add</button>
            </div>
        </div>

		<div class="col-sm-6">
			<div class="table-responsive">
				<table class="table" id="previewTable">
				</table>
			</div>
		</div>

		<div class="col-sm-3"></div>
		<form action="template" method="post">
			<input type="hidden" id="dataToSave" name="dataToSave"/>
			<input type="submit" value="Save"/>
		</form>
	</div>

    
    <!-- Create Table -->
    <script type="text/javascript">
//		var template = $:template
        generateTable(currentTemplate);
	</script>

    <!-- Handle button -->
    <script>
        jQuery("#addbtn").click(function(){
            console.log("Button clicked");
            var newNodeObject = {
                "nodeName" : jQuery("#nodename").val(),
                "oid" : jQuery("#OID").val(),
                "access" : jQuery("#access").val(),
                "syntax" : jQuery("#syntax").val()
            };
            console.log(newNodeObject);
            oldTemplate = currentTemplate;
            oldTemplate.objects.push(newNodeObject);
            currentTemplate = oldTemplate;
            generateTable(currentTemplate);
        });
    </script>

</body>

</html>


<!-- "http://172.20.32.192:8080/modules" -->
